# API Gatewayの作成
resource "aws_api_gateway_rest_api" "{{api_name}}" {
  name        = "{{api_name}}"
  description = "{{description}}"
}

{% for method in methods %}
resource "aws_api_gateway_resource" "res_{{ loop.index }}" {
  rest_api_id = aws_api_gateway_rest_api.example.id
  parent_id   = aws_api_gateway_rest_api.example.root_resource_id
  path_part   = "{{ method.path }}"
}

resource "aws_api_gateway_method" "method_{{ loop.index }}" {
  rest_api_id   = aws_api_gateway_rest_api.example.id
  resource_id   = aws_api_gateway_resource.res_{{ loop.index }}.id
  http_method   = "{{ method.method.upper() }}"
  authorization = "NONE"
}

resource "aws_api_gateway_integration" "integration_{{ loop.index }}" {
  rest_api_id          = aws_api_gateway_rest_api.example.id
  resource_id          = aws_api_gateway_resource.res_{{ loop.index }}.id
  http_method          = aws_api_gateway_method.method_{{ loop.index }}.http_method
  integration_http_method = "POST"
  type                = "AWS_PROXY"
  uri                 = "arn:aws:apigateway:${var.region}:lambda:path/2015-03-31/functions/${aws_lambda_function.{{ method.lambda }}.arn}/invocations"
}
{% endfor %}

resource "aws_api_gateway_deployment" "deployment_resource" {
  rest_api_id = aws_api_gateway_rest_api.example.id
  stage_name  = "prd"
  depends_on  = [ {% for method in methods %} aws_api_gateway_integration.integration_{{ loop.index }}, {% endfor %} ]
}
